*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#f3f3f3 ;
}


@media only screen and (max-width:500px) {
 
    

 #mobile-dc-notification{
  position: absolute;
  height: 384px;
  top: 70px;
  left: 54px;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  gap: 4px;
  padding: 6px 0px 6px 0px;
  width: 320px;
  background-color: white;
  display: none;
 }

 .flex-davii{
    display: flex;
    width: 141px;
    height: 28px;
    gap: 8px;
 }

 .mobile-coll{
    justify-content: space-between;
    padding: 4px 12px 4px 8px;
    display: flex;
    border-radius: 8px;
    width: 308px;
    height: 36px;
    background-color: #f1f1f1;
 }

 #mobile-toggle:hover{
   background-color: #f1f1f1;
 }

 .i{
    width: 308px;
    height: 32px;
    border-radius: 8px;
    padding: 6px;
    gap: 8px;
    display: flex;
    border-radius: 8px;
    margin-top: 8px;
   
 }
 .mobile-div{
    left: 3px;
    top: 3px;
 }

 #mobile-help{
    width: 320px;
    height: 166px;
    padding: 0px 6px 0px 6px ;
    gap: 4px;
   
    
 }
.hr{
    border: 0.5px solid #f1f1f1;
    width: 100%;
}
 .mobile5{
    width: 308px;
    height: 30px;
    border-radius: 8px;
    padding: 6px;
    gap: 8px;
    margin-top: 3px;
    

 }

 .store{
   width: 57px;
   height: 18px;
   
 }

 .id-div{
    width: 20px;
    height: 20px;
 }

 .david-1{
 font-weight: 400;
 line-height: 15.6px;
 font-size: 12px;
 color: #616161;
 }
.david{
   font-size: 13px; 
   line-height: 18.2px;
   font-weight: 500;
   color:#303030;
}

.manage{
width: 308px;
height: 30px;
border-radius: 8px;
padding: 6px;
gap: 8px;

}

.log-out{
    width: 308px;
    height: 30px;
    border-radius: 8px;
    padding: 6px;
    gap: 8px;
}
 .last-1{
    width: 308px;
    height: 50px;
    border-radius: 8px;
    padding: 8px;
 }

 .mobile-p1{
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
   color:  #303030;
 }
 .pp1{
    font-weight: 600;
    font-size: 13px;
    line-height: 18.2px;
    color: #303030;
    margin-top: 5px;
 }

 .mobile-green{
    width: 28px;
    height: 28px;
    background-color: #36fba1;
    border-radius: 5.25px;
    align-items: center;
    text-align: center;
 }

 .d{
    margin-top: 8px;
   color:  #303030 ;
    font-size: 10.5px;
    font-weight: 500;
    left: 6.13px;
 
 }

 
 .davii-container{
  width: 320px;
  height: 72px;
  padding: 0px 6px 0px 6px;
  height: 72px;
  margin-bottom: 8px;
 }

.last{
    width: 320px;
    height: 118px;
    padding: 0px 6px 0px 6px;
    gap: 4px;
    margin-top: 5px;
}

    
#mobile-white{
width: 358px;
height: 136px;
 left: 16px;
padding: 16px;
gap: 16px;
border: 1px solid #dbdbdb;
position: absolute;
z-index: 4;
 top: 70px;
background-color: white;
border-radius: 14px;
text-align: center; 
display: none;
 
}

#noti{
    width: 56px;
    height: 20px;
    gap: 16px;
    display: flex;
}

#bottom-alerts{
    font-weight: 600;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    

}

#bottom{
    background-color: #f1f1f1;
    gap: 8px;
    height: 68px;
    width: 326px;
    padding: 16px;
    margin-top: 15px;
}
#mobile-alert-flex{
display: flex;
width: 326px;
height: 20px;
justify-content: space-between;
}

#alerts{
width: 41px;
height:20px ;

}

#alerts-para{
  font-weight: 600;
  font-size: 14px;
  line-height: 19.6px;
  color: #303030;
}







.header{
   
    width: 100%;
   
}


#cmp1Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp2Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp3Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp4Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp5Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}


#goodDiv1{
    width: 24px;
    height: 24px;
    display: none;
}

#rotate-con1{
width: 24px;
height: 24px;
display: none;
}

.rotateDiv1{
    height: 121px;
    gap: 8px;
    width: 24px;
}

#rotate-1{
    animation: spin 0.3s linear  ;
    left: 2px;
    top: 2px;
    
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



   
#rotate-2{
    animation: spin 0.2s linear;
    animation-delay: 1ms; 
    left: 3px;
    top: 2px;
    
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }


#rotate-3{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: 2px;
    top: 2px;
   
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }


#rotate-4{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: 2px;
    top: 2px;
   
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



   
#rotate-5{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



#vmpDot1{
    width: 24px;
    height: 24px;
    display: block;
}
#vmpDot2{
    width: 24px;
    height: 24px;
    display: none;
}
#vmpDot3{
    width: 24px;
    height: 24px;
    display: none;
}
#vmpDot4{
    width: 24px;
    height: 24px;
    display: none;
}
#vmpDot5{
    width: 24px;
    height: 24px;
    display: none;
}



#rotateDiv1{
    width: 24px;
    height: 121px;
    gap: 8px;
}
#rotateDiv2{
    width: 24px;
    height: 121px;
    gap: 8px;
}

#rotateDiv3{
    width: 24px;
    height: 139px;
    gap: 8px;
}
#rotateDiv4{
    width: 24px;
    height: 139px;
    gap: 8px;
}

#rotateDiv5{
    width: 24px;
    height: 157px;
    gap: 8px;
}






#goodDiv1{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv2{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv3{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv4{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv5{
    width: 24px;
    height: 24px;
    display: none;
}

#good1{
    top: 2px;
    left: 2px;
}
#good2{
    top: 2px;
    left: 2px;
}
#good3{
    top: 2px;
    left: 2px;
}
#good4{
    top: 2px;
    left: 2px;
}
#good5{
    top: 2px;
    left: 2px;
}

.dd1{
    top: 2px;
    left: 2px;
}
.dd2{
    top: 2px;
    left: 2px;
}
.dd3{
    top: 2px;
    left: 2px;
}
.dd4{
    top: 2px;
    left: 2px;
}
.dd5{
    top: 2px;
    left: 2px;
}




.link{
    text-decoration: none;
    
}

.link1{
    text-decoration: none;
}

.customize-1{
    width: 326px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div2{
    width: 326px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div3{
    width: 326px;
    height: 139px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div4{
    width: 326px;
    height: 139px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div5{
    width: 326px;
    height: 157px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}

.Header-container{
    display: flex;
     position: fixed;
     width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1A1A1A;
    z-index: 10;
    top: 0px;
    
    
}
.Extend-div{
    height: 104px; 
    padding: 12px 8px 12px 16px;
    gap: 16px;
    width: 100%;
    background-color: #1A1A1A;
 
  
    
 
}


#extendParagraph{
    width: 330px;
    height: 36px;
}
.extendSvg{
    width: 36px;
    height: 36px;
    padding: 8px;
    gap: 8px;
    border-radius: 10px;
}


.Extend-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #e3e3e3;
    
}

#Extend-cancel{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
    position: absolute;
    left: 345px;
    top: 0px;
    
}

.select {
    width: 99px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid #b5b5b5;
    gap: 8px;
    padding: 6px ;
    border-radius: 6px;
    margin-top: 18px;
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 600;

}

.input{
    width: 238px;
    height: 32px;
    border-radius: 8px;
    gap: 6px;
    padding: 8px 8px 8px 30px;
    outline:none ;
    background-color: #303030;
    border: 1px solid #616161;
    color: white;
   
}

#bell{
    width: 32px;
    height: 32px;
    padding: 6px;
}

.notification-div{
    display: flex;
    gap: 8px;
    height: 32px;
    width: 72px;
}

 

.Search-icon{
    left: 65px;
    top: 20px;
    position: absolute;
 


}

.completed{
    display: flex;
    width: 186px; 
    height: 16px;
    gap: 8px;
    margin-top:15px;
    width: 186px; 
    
}

.completed1{
    display: flex;
     width: 186px; 
    height: 16px;
    gap: 8px;
    margin-top: 15px;
    
    
}

#small-loader{
    height: 4px;
    width: 0px;
    background-color: #1A1A1A;
    border-radius: 28px; 
}
#small-loader1{
    height: 4px;
    width: 0px;
    background-color: #1A1A1A;
    border-radius: 28px; 
}

.vmp-btn{
    border-radius: 6px;
    gap: 16px;
    margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
}

.vmp4-btn{
    border-radius: 6px;
    gap: 16px;
   margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
}

.vmp3-btn{
    border-radius: 6px;
    gap: 16px;
    margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
}


.vmp-btn1{
    border-radius: 6px;
    gap: 16px;
    margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color:#323232 ;
    background-color: #f3f3f3;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
    border: none;
}


.vmp5-btn{
    border-radius: 6px;
    gap: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
    margin-top: 16px;
}


.loading{
    width: 90px;
    height: 4px;
    border-radius: 28px;
    background-color:#f3f3f3;
    margin-top: 7px; 
}

#small-loader{
    height: 4px;
    width: 0px;
    background-color: #1A1A1A;
    border-radius: 28px;
}

.completed-paragraph{
    font-weight: 400;
    font-size: 12px;
    color: #303030;
    line-height: 15.6px;
}

#dc{
   width: 32px; 
   height: 32px;
   border-radius: 8px;
   justify-content: center;
   gap: 8px;
   background-color:#36FBA1 ;
   color: #303030;
   display: flex;
   align-items: center;
   

}
.personalized{
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
    margin-top: 5px;
}

.setup{
font-weight: 600;
font-size: 14px;
line-height: 19.6px;
}

#div-cancel{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
}
#div-cancel1{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
     
}

#section{
    background-color: white;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 8px;
    height: 124px;
    margin-top: 20px;
  
}
#flex{
    display: flex;
    justify-content: space-between;
    height: 36px;
    width: 366px;
}
#flex1{
    display: flex;
    justify-content: space-between;
    height: 36px;
    width: 366px;
}

#ExtendContainer1{
   height: 104px; 
   width: 100%;
   padding: 12px 8px 12px 16px;
   background-color: #1a1a1a;
   display: block;
}
#ExtendContainer{
   height: 104px; 
   width: 100%;
   padding: 12px 8px 12px 16px;
   background-color:#1a1a1a;
   display: block;
  
}

#extend-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #E3E3E3;
}
#extend-text1{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #E3E3E3;
}

#section1{
    background-color: white;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 8px;
    height: 449px;
    margin-top: 20px;
  

}
 
.extendBtn{
    width: 99px;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    gap: 8px;
    background-color: white;
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 600;
    padding: 4px 6px  4px 6px;
    margin-top: 10px;

    
}

#middle{
    width: 330px;
    height: 36px;
}

#bigDiv{
    width: 100%;
    top: 132px;
    gap: 16px;
    height: 244px;
    display: block;
    margin-top: 80px;
    
}

#bigDiv1{
    width: 100%;
    top: 132px;
    gap: 16px;
    height: 244px;
    display: none;
    margin-top: 80px;

}
 #arrow{
    height: 28px;
     width: 28px;
     padding: 4px;
     gap: 8px; 
    
  
 }

 #arrow1{
    background-color: white;
     height: 28px;
     width: 28px;
     padding: 4px;
     gap: 8px;
 }


 #arrow:hover{
    background-color:#f3f3f3;
 }


.dc-paragraph{
    font-size: 12px;
    line-height: 15.6px;
    font-weight: bold;
    color: #303030;
    font-weight: 500;
    
}


::placeholder{
    color: #B5B5B5;
}

#vmp1{
    gap: 96px;
    width: 374px;
    height: 141px;  
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: block;
   
    
}
#vmp3{
    
    width: 374px;
    height: 159px;
    gap:96px;    
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
   
}



#vmp2{
    
    width: 374px;
    height: 141px;
    gap: 96px;    
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
}




#vmp4{
    
    width: 374px;
    height: 159px;
     gap: 96px;   
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
}
   


#vmp5{
    
    width: 374px;
    height: 177px;
    gap: 96px;  
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
}
   

#vmp1Con{
    display: flex;
    width: 358px;
    height: 121px;
    gap: 8px;
}
#vmp2Con{
    display: flex;
    width: 358px;
    height: 121px;
    gap: 8px;
}
#vmp3Con{
    display: flex;
    height:139px;
    width: 358px;
    gap: 8px;
   
}
#vmp4Con{
    display: flex;
    width: 358px;
    height: 139px;
    gap: 8px;
}
#vmp5Con{
    display: flex;
    width: 358px;
    height: 157px;
    gap: 8px;
}



   

.vmp-p1{
  font-weight: 600; 
  font-size: 13px;
  line-height: 18.2px;
  color:#303030;
  
}

 

.vmp-span{
   font-size: 14px; 
   font-weight: 500;
   color: #005bd3;
   border: none;
}

.vmp-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 16px;
}
.vmp4-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 5px;
}
.vmp5-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 16px;
}

.vmp3-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 10px;

}


#cmp1{
    
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
    display: none;

    
    
}


#cmp2{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
    
    
}
#cmp3{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
   
    
}
#cmp4{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
    
    
}
#cmp5{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
 
    
}
 

#cmp1Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
 
}

#cmp2Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

#cmp3Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

#cmp4Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

#cmp5Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

.control{
    width: 330px;
    height: 60px;
    gap: 4px;
}

.semi-overall{
    width: 330px;
    height: 92px;
    gap: 16px;
    
}
.control1{
    width: 330px;
    height: 60px;
    gap: 4px;

}
.control{
    width: 330px;
    height: 60px;
    gap: 4px;

}

 .overall{
    width: 374px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
 }

 

.Customize{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #303030;
}

#Good1{
    top: 2px;
    left: 2px; 
}
#Good2{
    top: 2px;
    left: 2px; 
}
#Good3{
    top: 2px;
    left: 2px; 
}
#Good4{
    top: 2px;
    left: 2px; 
}
#Good5{
    top: 2px;
    left: 2px; 
}

#cmp1Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp2Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp3Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp4Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp5Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#dot1{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
    
}
#dot2{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
    
    
}
#dot3{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
}
#dot4{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
}
#dot5{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
}

#dotsmall1{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall2{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall3{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall4{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall5{
    top: 2px;
    left: 2px;
    border:2.08px ;
}


#rotateDiv1{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv2{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv3{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv4{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv5{
    width: 24px;
    height: 24px;
    gap: 8px;
}

#mobile-div{
    display: block;
         
       
   } 
    
#laptop-div{
    display: none;
}


}







@media only screen and (min-width:1024px){


#laptop-Alert{
  width: 383px;
  height: 118px;
  top: 70px;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  background-color: white;
  padding: 16px;
  left: 1041px;
  position: absolute;
  display: none;
  
}
#ii{
 width: 56px;
 height: 20px;
 gap: 16px;
 display: flex;
}
#bg-p{
   font-size: 13px; 
   color: #616161;
   line-height: 18.2px;
   font-weight: 600;
}

#bg{
   width: 351px; 
   height: 50px;
   padding: 16px;
   gap: 8px;
   background-color: #f1f1f1;
   margin-top: 15px;
}

#iv{
    width: 20px;
    height: 20px;
}

#v{
    width: 20px;
    height: 20px;
}

#omega{
width: 351px;
height: 20px;
display: flex;
justify-content: space-between;
 
}


    #laptop-dc-notification{
        position: absolute;
        height: 384px;
        top: 70px;
        left: 1104px;
        border-radius: 14px;
        border: 1px solid #dbdbdb;
        gap: 4px;
        padding: 6px 0px 6px 0px;
        width: 320px;
        background-color: white;
        display: none;
       }
      
       .flex-davii{
          display: flex;
          width: 141px;
          height: 28px;
          gap: 8px;
       }
      
       .mobile-coll{
          justify-content: space-between;
          padding: 4px 12px 4px 8px;
          display: flex;
          border-radius: 8px;
          width: 308px;
          height: 36px;
          background-color: #f1f1f1;
          cursor: pointer;
       }
      
       #laptop-toggle:active{
        border: 2px solid #005bd3;
       }
      
       #laptop-toggle:focus{
      border: 2px solid #005bd3;
       }
      
       .i{
          width: 308px;
          height: 32px;
          border-radius: 8px;
          padding: 6px;
          gap: 8px;
          display: flex;
          border-radius: 8px;
          margin-top: 8px;
          cursor: pointer;
         
       }
       .mobile-div{
          left: 3px;
          top: 3px;
       }
      
       #mobile-help{
          width: 320px;
          height: 166px;
          padding: 0px 6px 0px 6px ;
          gap: 4px;
         
          
       }
      .hr{
          border: 0.5px solid #f1f1f1;
          width: 100%;
      }
       .mobile5{
          width: 308px;
          height: 30px;
          border-radius: 8px;
          padding: 6px;
          gap: 8px;
         display: block;
          padding: 6px;
          gap: 8px;
          margin-top: 3px;
          cursor: pointer;

          
      
       }
      
       .store{
         width: 57px;
         height: 18px;
         
       }
      
       .id-div{
          width: 20px;
          height: 20px;
       }
      
       .david-1{
       font-weight: 400;
       line-height: 15.6px;
       font-size: 12px;
       color: #616161;
       }
      .david{
         font-size: 13px; 
         line-height: 18.2px;
         font-weight: 500;
         color:#303030;
         cursor: pointer;
      }
      
      .manage{
      width: 308px;
      height: 30px;
      border-radius: 8px;
      padding: 6px;
      gap: 8px;
      cursor: pointer;
      
      }
      
      .log-out{
          width: 308px;
          height: 30px;
          border-radius: 8px;
          padding: 6px;
          gap: 8px;
          cursor: pointer;
      }
       .last-1{
          width: 308px;
          height: 50px;
          border-radius: 8px;
          padding: 8px;
       }
      
       .mobile-p1{
          font-weight: 400;
          font-size: 13px;
          line-height: 18.2px;
         color:  #303030;
       }
       .pp1{
          font-weight: 600;
          font-size: 13px;
          line-height: 18.2px;
          color: #303030;
          margin-top: 5px;
       }
      
       .mobile-green{
          width: 28px;
          height: 28px;
          background-color: #36fba1;
          border-radius: 5.25px;
          align-items: center;
          text-align: center;
       }
      
       .d{
          margin-top: 8px;
         color:  #303030 ;
          font-size: 10.5px;
          font-weight: 500;
          left: 6.13px;
       
       }
      
       
       .davii-container{
        width: 320px;
        height: 72px;
        padding: 0px 6px 0px 6px;
        height: 72px;
        margin-bottom: 8px;
       }
      
      .last{
          width: 320px;
          height: 118px;
          padding: 0px 6px 0px 6px;
          gap: 4px;
          margin-top: 5px;
      }
      
          
      #mobile-white{
      width: 358px;
      height: 136px;
       left: 1104px;
      padding: 16px;
      gap: 16px;
      border: 1px solid #dbdbdb;
      position: absolute;
      z-index: 4;
       top: 70px;
      background-color: white;
      border-radius: 14px;
      text-align: center; 
       
      }
      
      #noti{
          width: 56px;
          height: 20px;
          gap: 16px;
          display: flex;
      }
      
      #bottom-alerts{
          font-weight: 600;
          font-size: 13px;
          line-height: 18.2px;
          color: #616161;
          
      
      }
      
      #bottom{
          background-color: #f1f1f1;
          gap: 8px;
          height: 68px;
          width: 326px;
          padding: 16px;
          margin-top: 15px;
          cursor: pointer;
      }
      #mobile-alert-flex{
      display: flex;
      width: 326px;
      height: 20px;
      justify-content: space-between;
      }
      
      #alerts{
      width: 41px;
      height:20px ;
      
      }
      
      #alerts-para{
        font-weight: 600;
        font-size: 14px;
        line-height: 19.6px;
        color: #303030;
      }










    


#laptop-goodDiv1{
    width: 24px;
    height: 24px;
    display: none; 
}

 
#laptop-goodDiv2{
    width: 24px;
    height: 24px;
    display: none; 
}

#laptop-goodDiv3{
    width: 24px;
    height: 24px;
    display: none; 
}

#laptop-goodDiv4{
    width: 24px;
    height: 24px;
    display: none; 
}

#laptop-goodDiv5{
    width: 24px;
    height: 24px;
    display: none; 
}





#laptop-vmpDot1{
width: 24px;
height: 24px;
display: block;
}
#laptop-vmpDot2{
width: 24px;
height: 24px;
display: none;
}
#laptop-vmpDot3{
width: 24px;
height: 24px;
display: none;
}
#laptop-vmpDot4{
width: 24px;
height: 24px;
display: none;
}
#laptop-vmpDot5{
width: 24px;
height: 24px;
display: none;
}





#laptop-rotateDiv1{
   width: 24px; 
   height: 121px;
   gap: 8px;
}
#laptop-rotateDiv2{
   width: 24px; 
   height: 121px;
   gap: 8px;
}
#laptop-rotateDiv3{
   width: 24px; 
   height: 121px;
   gap: 8px;
}
#laptop-rotateDiv4{
   width: 24px; 
   height: 121px;
   gap: 8px;
}
#laptop-rotateDiv5{
   width: 24px; 
   height: 139px;
   gap: 8px;
}

   #mobile-div{
    display: none;
   } 

   #laptop-div{
    display: block;
   }
#laptop-header{
    width: 1440px;
    height: 56px;
    justify-content: space-between;
    padding: 12px 16px 12px 16px ;
   position: fixed;
   z-index: 10;
    display: flex;
    width: 100%;
    background-color: #1A1A1A;
    top: 0px;
}

#laptop-shopify{
    width: 464px;
    height: 30px;
    gap: 7.52px;
}
 #laptop-lp{
   width: 480px; 
   position: relative;
 } 

#shopify-main{
    width: 108.87px;
    height: 30px;
}

#laptop-input{
    width: 480px;
    height: 32px;
    border-radius: 8px;
    background-color: #303030;
    border: 1px solid #616161;
    gap: 6px;
    position: relative;
    padding: 8px 8px 8px 28px;
    outline:none ;
    color: white;
    

}
#mobile-div1{
    display: none;
}
 
#laptopdiv-cancel:hover{
    cursor: pointer;
}

#laptop-customize-div1{
    width: 483.86px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
   
}
#laptop-customize-div2{
    width: 483.86px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}

.vmp-btn1{
    background-color: #f3f3f3;
    border: none;
    padding: 4px 8px 4px 8px;
    font-weight: 600;
    line-height: 15.6px;
    font-size: 12px;
    margin-top: 15px;
    border-radius: 6px;
    
    
}
.vmp-btn1:hover{
    background-color: #e7e7e7;
    border: none;

   
}

 #laptop-rotate-con1{
    width: 24px;
    height: 24px;
    display: none;
 }

#laptop-cmp5Good{
    width: 24px;
    height: 24px;
    display: none;
}

 



 

 


#laptop-cmp4Good{
    width: 24px;
    height: 24px;
    display: none;
}



#laptop-cmp3Good{
    width: 24px;
    height: 24px;
    display: none;
}

#laptop-cmp2Good{
    width: 24px;
    height: 24px;
    display: none;
}

#laptop-cmp1Good{
    width: 24px;
    height: 24px;
    display: none;
}
 
#laptop-dot1{
    width: 24px;
    height: 24px;
    display: block;
}
#laptop-dot2{
    width: 24px;
    height: 24px;
    display: block;
}
#laptop-dot3{
    width: 24px;
    height: 24px;
    display: block;
}
#laptop-dot4{
    width: 24px;
    height: 24px;
    display: block;
}
#laptop-dot5{
    width: 24px;
    height: 24px;
    display: block;
}


#laptop-cmp1Div{
    width: 24px;
    height: 24px;

}


#laptop-customize-div3{
    width: 483.86px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#laptop-customize-div4{
    width: 483.86px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#laptop-customize-div5{
    width: 483.86px;
    height: 139px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}


.vmp-btn{
    background-color: #404040;
    color: #ffffff;
    border-radius:6px ;
    padding: 6px 8px 6px 8px;
    font-weight: 600;
    line-height: 15.6px;
    font-size: 12px;
    margin-top: 15px;
}

 


 

#laptop-vmp1{
    background-color:  #f3f3f3;
    width: 784px;
    height: 141px;
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    gap: 96px;
    justify-content: space-between;
    display: flex;
   position: relative;
   
    
}
#laptop-vmp2{
    background-color:  #f3f3f3;
    width: 784px;
    height: 141px;
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    gap: 96px;
    justify-content: space-between;
    display: flex;
   position: relative;
   display: none;
    
}
#laptop-vmp3{
    background-color:  #f3f3f3;
    width: 784px;
    height: 141px;
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    gap: 96px;
    justify-content: space-between;
    display: flex;
   position: relative;
   display: none;
    
}
#laptop-vmp4{
    background-color:  #f3f3f3;
    width: 784px;
    height: 141px;
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    gap: 96px;
    justify-content: space-between;
    display: flex;
   position: relative;
   display: none;
    
}
#laptop-vmp5{
    background-color:  #f3f3f3;
    width: 784px;
    height: 159px;
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    gap: 96px;
    justify-content: space-between;
    display: flex;
   position: relative;
   display: none;
    
}
 


#rotate-con1{
    width: 24px;
    height: 24px;

}

#rotate-con2{
    width: 24px;
    height: 24px;
}

#rotate-con3{
    width: 24px;
    height: 24px;
}

#rotate-con4{
    width: 24px;
    height: 24px;
}

#rotate-con5{
    width: 24px;
    height: 24px;
}




#rotate-1{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }


#rotate-2{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



#rotate-3{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



#rotate-4{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }

#rotate-5{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



.laptopCustomize{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color:  #303030;
}


#image1{
  position: absolute;
  right: 10px;
}

#laptop-rotateDiv1{
    width: 24px;
    height: 121px;
    gap: 8px;
}

#laptop-vmp1Con{
    width: 515.86px;
    height: 121px;
    gap: 8px;
    display: flex;
   

}
#laptop-vmp2Con{
    width: 515.86px;
    height: 121px;
    gap: 8px;
    display: flex;
   

}
#laptop-vmp3Con{
    width: 515.86px;
    height: 121px;
    gap: 8px;
    display: flex;
   

}
#laptop-vmp4Con{
    width: 515.86px;
    height: 121px;
    gap: 8px;
    display: flex;
   

}
#laptop-vmp5Con{
    width: 515.86px;
    height: 121px;
    gap: 8px;
    display: flex;
   

}

#laptop-input:hover{
    border: 1px solid #e1e1e1;
    
}
 
#laptop-input:focus{
    border: 2px solid white;
     
}

#laptop-input:active{
    border: 2px solid white;
   
}

#laptop-search{
     position: absolute;
     z-index: 1;
    left: 10px;
    top: 8px;
     width: 20px;
     height: 20px;
}


 


#laptop-icon{
    width: 32px;
    height: 32px;
    padding: 6px;
    gap: 8px;
    background-color:#303030 ;
    border-radius:8px ;
    cursor: pointer;
}

#laptop-icon:hover{
    width: 32px;
    height: 32px;
    padding: 6px;
    gap: 8px;
    background-color:#616161 ;
    border-radius:8px ;
    cursor: pointer;
}
#laptop-icon:active{
    width: 32px;
    height: 32px;
    padding: 6px;
    gap: 8px;
    background-color:#656266 ;
    border-radius:8px ;
    cursor: pointer;
}
#laptop-icon:focus{
    width: 32px;
    height: 32px;
    padding: 6px;
    gap: 8px;
    background-color:#656266;
    border-radius:8px ;
    cursor: pointer;
    box-shadow: 0 0 0 3px #005bd3 ;
}

.vmp3-btn{
    background-color: #404040;
    color: #ffffff;
    border-radius:6px ;
    padding: 6px 8px 6px 8px;
    font-weight: 600;
    line-height: 15.6px;
    font-size: 12px;
    margin-top: 10px;
}

 .vmp3-p2{
 font-weight: 500;
    font-size: 13px;
    line-height: 19.6px;
    color:#616161 ;
    margin-top: 5px;
 }


#laptop-davii{
    width: 464px;
    gap: 8px;
    height: 32px;
    display: flex;
    justify-content: end;
}

 

 

#laptop-dd{
    display: flex;
   width: 142px; 
   height: 32px;
   padding: 2px 2px 2px 8px;
   background-color: #303030;
   justify-content: end;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   border-radius: 8px;
}
#laptop-dd:hover{
    display: flex;
   width: 142px; 
   height: 32px;
   padding: 2px 2px 2px 8px;
   background-color: #616161;
   justify-content: end;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   border-radius: 8px;
}
#laptop-dd:active{
    display: flex;
   width: 142px; 
   height: 32px;
   padding: 2px 2px 2px 8px;
   background-color: #656266;
   justify-content: end;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   border-radius: 8px;
  
}
#laptop-dd:focus{
    display: flex;
   width: 142px; 
   height: 32px;
   padding: 2px 2px 2px 8px;
   background-color:  #656266;
   justify-content: end;
   align-items: center;
   gap: 8px;
   cursor: pointer;
   border-radius: 8px;
   box-shadow: 0 0 0 3px #005bd3 ;
}

#davii-para{
    font-size: 12px;
    font-weight: 500;
    color:#e3e3e3;
    line-height: 15.6px;
}

#laptop-ExtendContainer{
padding: 12px 8px 12px 16px ;
justify-content: space-between;
width: 800px;
border-radius: 8px;
background-color: #1a1a1a;
display: flex;
 


}
#laptop-ExtendContainer1{
padding: 12px 8px 12px 16px ;
justify-content: space-between;
width: 800px;
border-radius: 8px;
background-color: #1a1a1a;
display: flex;
 


}

#laptop-con{
    width: 139px;
    height: 32px;
    gap: 8px;
    display: flex;
}

#laptop-extendBtn{
 font-weight: 600;
 border-radius: 6px;
 border: 1px solid #b5b5b5;
 padding:  6px 10px 6px 10px;
 gap: 8px;
 font-size: 12px;
 line-height: 15.6px;
 cursor: pointer;

}

#laptop-extendBtn:hover{
background-color: #f7f7f7;
}

#laptopdiv-cancel{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    gap: 8px;
    margin-top: 4px;
   padding-left: 5px;
}
#laptopdiv-cancel1{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    gap: 8px;
    margin-top: 4px;
   padding-left: 5px;
}

#laptopsemi-overall{
    width: 376px;
    height: 74px;
    gap: 16px;

}

 

#laptop-personalized{
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
    color: #303030;
}
#laptop-control{
    width: 376px;
    height: 42px;
    gap: 4px;
}
#laptop-Setup{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: #303030;
}

#laptop-loading{
    width: 72px;
    height: 4px;
    border-radius: 28px;
    background-color: #e3e3e3;
    border-radius: 28px;
    margin-top: 5px;

}
#laptop-arrow{
    width: 28px;
    height: 28px;
    border-radius: 6px;
    gap: 8px;
    padding: 4px;
    cursor: pointer;
     
}
#laptop-arrow1{
    width: 28px;
    height: 28px;
    border-radius: 6px;
    gap: 8px;
    cursor: pointer;
    padding: 4px;
    
}
#laptop-arrow1:hover{
    padding: 4px;
    border-radius: 6px;
    gap: 8px;
    background-color:#f3f3f3 ;
    cursor: pointer;
    border-radius: 8px;
}
#laptop-arrow:hover{
    padding: 4px;
    border-radius: 6px;
    gap: 8px;
    background-color:#f3f3f3 ;
    cursor: pointer;
    border-radius: 8px;
}


.vmp-p1{
    font-weight: 600;
    font-size: 13px;
    line-height: 18.2px;
     color: #303030;

}

.vmp-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 19.6px;
    color:#616161 ;
    margin-top: 15px;
}

.vmp-span{
    color: #005bd3;
    font-weight: 500;
    font-size: 14px;
}

#laptop-cmp1{
 width: 784px;
 height: 40px;
 padding: 8px;
 gap: 120px;
 display: none;
 
}
#laptop-cmp2{
 width: 784px;
 height: 40px;
 padding: 8px;
 gap: 120px;
}
#laptop-cmp3{
 width: 784px;
 height: 40px;
 padding: 8px;
 gap: 120px;
}
#laptop-cmp4{
 width: 784px;
 height: 40px;
 padding: 8px;
 gap: 120px;
}
#laptop-cmp5{
 width: 784px;
 height: 40px;
 padding: 8px;
 gap: 120px;
}

#laptop-cmp1Div{
    width: 768px;
    height: 24px;
    gap: 8px;
    display: flex;
}
#laptop-cmp2Div{
    width: 768px;
    height: 24px;
    gap: 8px;
    display: flex;
}
#laptop-cmp3Div{
    width: 768px;
    height: 24px;
    gap: 8px;
    display: flex;
}
#laptop-cmp4Div{
    width: 768px;
    height: 24px;
    gap: 8px;
    display: flex;
}
#laptop-cmp5Div{
    width: 768px;
    height: 24px;
    gap: 8px;
    display: flex;
}

#laptopsmall-loader{
width: 18px;
height: 4px;
background-color: #1a1a1a;
border-radius:28px ;
}

#laptop-section{
    width: 800px;
    height: 106px;
    background-color: white;
    border: 1px solid #dbdbdb;
    gap: 16px;
    padding: 16px;
    border-radius: 18px;
    margin-top: 20px;
    padding: 8px;
}
 
#laptop-overall{
    width: 784px;
    height: 90px;
    justify-content: space-between;
    padding: 8px;
    display: flex;


}
#laptop-bigDiv{
    display: grid;
    justify-content: center;
    margin-top: 88px;
    outline: none;
    
}


#laptop-bigDiv1{
    display: grid;
    justify-content: center;
    display: none;
    margin-top: 88px;
    outline: none;
}

#laptop-overall1 {
    width: 784px;
    height: 90px;
    justify-content: space-between;
    display: flex;
    padding: 8px;
    
}



#laptopsemi-overall1{
    width: 376px;
    height: 74px;
    gap: 16px;

}

#laptop-section1{
    margin-top: 20px;
    background-color: white;
    width: 800px;
     height: 431px; 
     gap: 16px;
     padding: 8px;
     border-radius: 18px;
     border: 1px solid #dbdbdb;
}



#laptop-middle{
    color: #e3e3e3;
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
}
 #laptop-dc{
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: #36fba1;
   justify-content: center;
   cursor: pointer;
 }

 #bc{
   font-weight: 500;
   font-size: 12px;
   text-align: center;
   line-height: 15.6px;
   align-items: center;
   margin-top: 6px;
 }
 
 #laptopcompleted-paragraph{
font-weight: 400;
font-size: 13px;
border-radius: 28px;
line-height: 15.6px;
color: #303030;
 }
 

 

 #laptop-completed{
    width: 186px;
    height: 16px;
    display: flex;
    margin-top: 15px;
    gap: 8px;
    
 }

 #laptop-cc{
    width: 88px ;
    height: 16px;
 }

 #laptop-loading{
    width: 90px;
    height: 4px;
    background-color: #e3e3e3;
     margin-top: 6px;
 }

 #laptopsmall-loader{
    width:0px ;
    height: 4px;
    background-color: #1a1a1a;
 }
 #laptopsmall-loader1{
    width: 0px ;
    height: 4px;
    background-color: #1a1a1a;
    border-radius: 8px;
 }

}




 