*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#f3f3f3 ;
}


@media only screen and (max-width:500px) {
    

.header{
   
    width: 100%;
   
}


#cmp1Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp2Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp3Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp4Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}
#cmp5Customize{
    width: 326px;
    height: 22px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
}


#goodDiv1{
    width: 24px;
    height: 24px;
    display: none;
}

#rotate-con1{
width: 24px;
height: 24px;
display: none;
}

.rotateDiv1{
    height: 121px;
    gap: 8px;
    width: 24px;
}

#rotate-1{
    animation: spin 0.3s linear  ;
    left: 2px;
    top: 2px;
    
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



   
#rotate-2{
    animation: spin 0.2s linear;
    animation-delay: 1ms; 
    left: 3px;
    top: 2px;
    
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }


#rotate-3{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: 2px;
    top: 2px;
   
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }


#rotate-4{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: 2px;
    top: 2px;
   
}


@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



   
#rotate-5{
    animation: spin 0.2s linear;
    animation-delay: 1ms;
    
    left: -0px;
    top: 2px;
   
}



@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
   }



#vmpDot1{
    width: 24px;
    height: 24px;
    display: block;
}
#vmpDot2{
    width: 24px;
    height: 24px;
    display: none;
}
#vmpDot3{
    width: 24px;
    height: 24px;
    display: none;
}
#vmpDot4{
    width: 24px;
    height: 24px;
    display: none;
}
#vmpDot5{
    width: 24px;
    height: 24px;
    display: none;
}



#rotateDiv1{
    width: 24px;
    height: 121px;
    gap: 8px;
}
#rotateDiv2{
    width: 24px;
    height: 121px;
    gap: 8px;
}

#rotateDiv3{
    width: 24px;
    height: 139px;
    gap: 8px;
}
#rotateDiv4{
    width: 24px;
    height: 139px;
    gap: 8px;
}

#rotateDiv5{
    width: 24px;
    height: 157px;
    gap: 8px;
}






#goodDiv1{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv2{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv3{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv4{
    width: 24px;
    height: 24px;
    display: none;
}
#goodDiv5{
    width: 24px;
    height: 24px;
    display: none;
}

#good1{
    top: 2px;
    left: 2px;
}
#good2{
    top: 2px;
    left: 2px;
}
#good3{
    top: 2px;
    left: 2px;
}
#good4{
    top: 2px;
    left: 2px;
}
#good5{
    top: 2px;
    left: 2px;
}

.dd1{
    top: 2px;
    left: 2px;
}
.dd2{
    top: 2px;
    left: 2px;
}
.dd3{
    top: 2px;
    left: 2px;
}
.dd4{
    top: 2px;
    left: 2px;
}
.dd5{
    top: 2px;
    left: 2px;
}




.link{
    text-decoration: none;
    
}

.link1{
    text-decoration: none;
}

.customize-1{
    width: 326px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div2{
    width: 326px;
    height: 121px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div3{
    width: 326px;
    height: 139px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div4{
    width: 326px;
    height: 139px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}
.customize-div5{
    width: 326px;
    height: 157px;
    padding: 2px 0px 2px 0px;
    gap: 16px;
    
}

.Header-container{
    display: flex;
     position: fixed;
     width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #1A1A1A;
    z-index: 10;
    top: 0px;
    
    
}
.Extend-div{
    height: 104px; 
    padding: 12px 8px 12px 16px;
    gap: 16px;
    width: 100%;
    background-color: #1A1A1A;
 
  
    
 
}


#extendParagraph{
    width: 330px;
    height: 36px;
}
.extendSvg{
    width: 36px;
    height: 36px;
    padding: 8px;
    gap: 8px;
    border-radius: 10px;
}


.Extend-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #e3e3e3;
    
}

#Extend-cancel{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
    position: absolute;
    left: 345px;
    top: 0px;
    
}

.select {
    width: 99px;
    height: 28px;
    border-radius: 6px;
    border: 1px solid #b5b5b5;
    gap: 8px;
    padding: 6px ;
    border-radius: 6px;
    margin-top: 18px;
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 600;

}

.input{
    width: 238px;
    height: 32px;
    border-radius: 8px;
    gap: 6px;
    padding: 8px 8px 8px 30px;
    outline:none ;
    background-color: #303030;
    border: 1px solid #616161;
    color: white;
   
}

.bell{
    width: 32px;
    height: 32px;
    padding: 6px;
}

.notification-div{
    display: flex;
    gap: 8px;
    height: 32px;
    width: 72px;
}

 

.Search-icon{
    left: 65px;
    top: 20px;
    position: absolute;
 


}

.completed{
    display: flex;
    width: 168px; 
    height: 16px;
    gap: 8px;
    margin-top:15px;
    
}

.completed1{
    display: flex;
    width: 168px; 
    height: 16px;
    gap: 8px;
    margin-top: 15px;
    
    
}

.small-loader{
    height: 4px;
    width: 18px;
    background-color: #1A1A1A;
    border-radius: 28px;

 
    
}

.vmp-btn{
    border-radius: 6px;
    gap: 16px;
    margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
}

.vmp4-btn{
    border-radius: 6px;
    gap: 16px;
   margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
}

.vmp3-btn{
    border-radius: 6px;
    gap: 16px;
    margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
}


.vmp-btn1{
    border-radius: 6px;
    gap: 16px;
    margin-top: 16px;
    padding: 6px 12px 6px 12px;
    color:#323232 ;
    background-color: #f3f3f3;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
    border: none;
}


.vmp5-btn{
    border-radius: 6px;
    gap: 16px;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    background-color: #404040;
    font-weight: 600;
    font-size:12px;
    line-height: 15.6px;
    margin-top: 16px;
}


.loading{
    width: 72px;
    height: 4px;
    border-radius: 28px;
    background-color:#E3E3E3 ;
    margin-top: 7px; 
}

.completed-paragraph{
    font-weight: 400;
    font-size: 12px;
    color: #303030;
    line-height: 15.6px;
}

.dc{
   width: 32px; 
   height: 32px;
   border-radius: 8px;
   justify-content: center;
   gap: 8px;
   background-color:#36FBA1 ;
   color: #303030;
   display: flex;
   align-items: center;
   

}
.personalized{
    font-weight: 400;
    font-size: 13px;
    line-height: 18.2px;
    margin-top: 5px;
}

.setup{
font-weight: 600;
font-size: 14px;
line-height: 19.6px;
}

#div-cancel{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
}
#div-cancel1{
    width: 36px;
    height: 36px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
}

#section{
    background-color: white;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 8px;
    height: 124px;
    margin-top: 20px;
  
}
#flex{
    display: flex;
    justify-content: space-between;
    height: 36px;
    width: 366px;
}
#flex1{
    display: flex;
    justify-content: space-between;
    height: 36px;
    width: 366px;
}

#ExtendContainer1{
   height: 104px; 
   width: 100%;
   padding: 12px 8px 12px 16px;
   background-color: #1a1a1a;
   display: block;
}
#ExtendContainer{
   height: 104px; 
   width: 100%;
   padding: 12px 8px 12px 16px;
   background-color:#1a1a1a;
   display: block;
  
}

#extend-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #E3E3E3;
}
#extend-text1{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #E3E3E3;
}

#section1{
    background-color: white;
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 8px;
    height: 449px;
    margin-top: 20px;
  

}
 
.extendBtn{
    width: 99px;
    border: 1px solid #b5b5b5;
    border-radius: 6px;
    gap: 8px;
    background-color: white;
    font-size: 12px;
    line-height: 15.6px;
    font-weight: 600;
    padding: 4px 6px  4px 6px;
    margin-top: 10px;

    
}

#middle{
    width: 330px;
    height: 36px;
}

#bigDiv{
    width: 100%;
    top: 132px;
    gap: 16px;
    height: 244px;
    display: block;
    margin-top: 80px;
    
}

#bigDiv1{
    width: 100%;
    top: 132px;
    gap: 16px;
    height: 244px;
    display: none;
    margin-top: 80px;

}
 #arrow{
    height: 28px;
     width: 28px;
     padding: 4px;
     gap: 8px; 
    
  
 }

 #arrow1{
    background-color: white;
     height: 28px;
     width: 28px;
     padding: 4px;
     gap: 8px;
 }


 #arrow:hover{
    background-color:#f3f3f3;
 }


.dc-paragraph{
    font-size: 12px;
    line-height: 15.6px;
    font-weight: bold;
    color: #303030;
    font-weight: 500;
    
}


::placeholder{
    color: #B5B5B5;
}

#vmp1{
    gap: 96px;
    width: 374px;
    height: 141px;  
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: block;
   
    
}
#vmp3{
    
    width: 374px;
    height: 159px;
    gap:96px;    
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
   
}



#vmp2{
    
    width: 374px;
    height: 141px;
    gap: 96px;    
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
}




#vmp4{
    
    width: 374px;
    height: 159px;
     gap: 96px;   
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
}
   


#vmp5{
    
    width: 374px;
    height: 177px;
    gap: 96px;  
    border-radius: 10px;
    padding: 8px 8px 12px 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    display: none;
}
   

#vmp1Con{
    display: flex;
    width: 358px;
    height: 121px;
    gap: 8px;
}
#vmp2Con{
    display: flex;
    width: 358px;
    height: 121px;
    gap: 8px;
}
#vmp3Con{
    display: flex;
    height:139px;
    width: 358px;
    gap: 8px;
   
}
#vmp4Con{
    display: flex;
    width: 358px;
    height: 139px;
    gap: 8px;
}
#vmp5Con{
    display: flex;
    width: 358px;
    height: 157px;
    gap: 8px;
}



   

.vmp-p1{
  font-weight: 600; 
  font-size: 13px;
  line-height: 18.2px;
  color:#303030;
  
}

 

.vmp-span{
   font-size: 14px; 
   font-weight: 500;
   color: #005bd3;
   border: none;
}

.vmp-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 16px;
}
.vmp4-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 5px;
}
.vmp5-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 16px;
}

.vmp3-p2{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #616161;
    margin-top: 10px;

}


#cmp1{
    
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
    display: none;

    
    
}


#cmp2{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
    
    
}
#cmp3{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
   
    
}
#cmp4{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
    
    
}
#cmp5{
    display: block;
    width: 374px;
    height: 40px;
    gap: 120px;    
    border-radius: 10px;
    padding: 8px;
 
    
}
 

#cmp1Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
 
}

#cmp2Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

#cmp3Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

#cmp4Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

#cmp5Div{
width: 358px;
height: 24px;
gap: 8px;
display: flex;
}

.control{
    width: 330px;
    height: 60px;
    gap: 4px;
}

.semi-overall{
    width: 330px;
    height: 92px;
    gap: 16px;
    
}
.control1{
    width: 330px;
    height: 60px;
    gap: 4px;

}
.control{
    width: 330px;
    height: 60px;
    gap: 4px;

}

 .overall{
    width: 374px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
 }

 

.Customize{
    font-weight: 500;
    font-size: 13px;
    line-height: 18.2px;
    color: #303030;
}

#Good1{
    top: 2px;
    left: 2px; 
}
#Good2{
    top: 2px;
    left: 2px; 
}
#Good3{
    top: 2px;
    left: 2px; 
}
#Good4{
    top: 2px;
    left: 2px; 
}
#Good5{
    top: 2px;
    left: 2px; 
}

#cmp1Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp2Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp3Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp4Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#cmp5Good{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: none;
}

#dot1{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
    
}
#dot2{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
    
    
}
#dot3{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
}
#dot4{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
}
#dot5{
    height: 24px;
    width: 24px;
    gap: 8px;
    display: block;
}

#dotsmall1{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall2{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall3{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall4{
    top: 2px;
    left: 2px;
    border:2.08px ;
}
#dotsmall5{
    top: 2px;
    left: 2px;
    border:2.08px ;
}


#rotateDiv1{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv2{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv3{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv4{
    width: 24px;
    height: 24px;
    gap: 8px;
}
#rotateDiv5{
    width: 24px;
    height: 24px;
    gap: 8px;
}



}





/*@media only screen and (max-width:370px ){
    .header{
   
        width: 100%;
       
    }

    #cmp1{
        display: flex;
        width: 374px;
        height: 40px;
        gap: 10px;    
        border-radius: 10px;
        margin-top: 20px;
     
    }
    
    #cmp2{
        display: flex;
        width: 374px;
        height: 40px;
        gap: 10px;    
        border-radius: 10px;
        margin-top: 20px;
      
    }
    
    #cmp3{
        display: flex;
        width: 374px;
        height: 40px;
        gap: 10px;    
        border-radius: 10px;
        margin-top: 20px;
      
    }
    
    #cmp4{
        display: flex;
        width: 374px;
        height: 40px;
        gap: 10px;    
        border-radius: 10px;
        margin-top: 20px;
        
    }
    
    #cmp5{
        display: flex;
        width: 374px;
        height: 40px;
        gap: 10px;    
        border-radius: 10px;
        margin-top: 20px;
        position: relative;
    }
    
    
    .Header-container{
        display: flex;
         position: fixed;
         width: 100%;
        height: 56px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: #1A1A1A;
        z-index: 10;
        
    }
    .Extend-div{
        padding-bottom: 15px;
        padding-top:80px;
        gap: 16px;
        background-color:  #f3f3f3 ;
    }
    
    .Extend-container{
        width: 100%;
        background-color: #1A1A1A;
        height: 104px;
        color: white;
        padding: 12px 8px 12px 16px;
      
        position: relative;
    }
    
    .Extend-text{
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        color: #e3e3e3;
        
    }
    
    .Extend-cancel{
        width: 36px;
        height: 36px;
        border-radius: 10px;
        padding: 8px;
        gap: 8px;
        position: absolute;
        right: 30px;
    }
    
    .select {
        width: 99px;
        height: 28px;
        border-radius: 6px;
        border: 1px solid #b5b5b5;
        gap: 8px;
        padding: 6px ;
        border-radius: 6px;
        margin-top: 18px;
        font-size: 12px;
        line-height: 15.6px;
        font-weight: 600;
    
    }
    
    .input{
        width: 238px;
        height: 32px;
        border-radius: 8px;
        gap: 6px;
        padding: 8px 8px 8px 35px;
        outline:none ;
        background-color: #303030;
        border: 1px solid #616161;
        color: white;
       
    }
    .bell{
        width: 32px;
        height: 32px;
        padding: 6px;
    }
    
    .notification-div{
        display: flex;
        gap: 8px;
        height: 32px;
        width: 72px;
    }
    
     
    
    .Search-icon{
        left: 65px;
        top: 20px;
        position: absolute;
     
    
    
    }
    
    .completed{
        display: flex;
        width: 168px; 
        height: 16px;
        gap: 8px;
        margin-top:20px;
        
    }
    
    .small-loader{
        height: 4px;
        width: 18px;
        background-color: #1A1A1A;
        border-radius: 28px;
    
     
        
    }

    #arrow{
    
        position: absolute;
        width: 18px;
        height: 18px;
        
        gap: 8px;
        right: 20px;
     }

    #arrow1{
    
        position: absolute;
        width: 18px;
        height: 18px;
        
        gap: 8px;
        right: 20px;
     }
    
    
     #arrow:hover{
        background-color:#f3f3f3;
     }
    
     #arrow1:hover{
        background-color:#f3f3f3;
     }
    


    .loading{
        width: 72px;
        height: 4px;
        border-radius: 28px;
        background-color:#E3E3E3 ;
        margin-top: 7px; 
    }
    
    .completed-paragraph{
        font-weight: 400;
        font-size: 12px;
        color: #303030;
        line-height: 15.6px;
    }
    
    .dc{
       width: 32px; 
       height: 32px;
       border-radius: 8px;
       justify-content: center;
       gap: 8px;
       background-color:#36FBA1 ;
       color: #303030;
       display: flex;
       align-items: center;
       
    
    }

    .personalized{
        font-weight: 400;
        font-size: 13px;
        line-height: 18.2px;
        margin-top: 5px;
    }
    
    .setup{
        font-weight: 600;
        font-size: 14px;
        line-height: 19.6px;
        }


    #section{
        background-color: white;
        width: 100%;
        border: 1px solid #dbdbdb;
        padding: 8px;
        height: 124px;
        position: relative;
        display: none;
    }

    .link{
        text-decoration: none;
        
    }

    .link1{
        text-decoration: none;
    }
    .customize{
        font-weight: 500;
        font-size: 13px;
        line-height: 18.2px;
        
    }

    .customize-div{
        width: 326px;
        height: 22px;
        padding: 2px 0px 2px 0px;
        gap: 16px;
    }

    .cmp1{
        display: flex;
        width: 374px;
        height: 40px;
        gap: 10px;    
        border-radius: 10px;
        margin-top: 20px;
    }

    #section1{
        background-color: white;
        width: 100%;
        border: 1px solid #dbdbdb;
        padding: 8px;
        height: 449px;
        position: relative;
        background-color: white;
        display: block;
    }
    

    .dc-paragraph{
        font-size: 12px;
        line-height: 15.6px;
        font-weight: bold;
        color: #303030;
        font-weight: 500;
        
    }
    ::placeholder{
        color: #B5B5B5;
    }
}*/